
/* head start */
/*header section*/
.header_section {
    padding: 15px 0;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

.custom_nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
    display: flex;
    /* Display the navigation links as a flex container */
    list-style: none;
    /* Remove list styles */
    padding: 0;
    /* Remove padding */
    margin-right: 25px;
}

.custom_nav-container .navbar-nav .nav-item {
    margin-left: 20px;
    /* Add spacing between the navigation links */
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #00bbf0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
    color: #00bbf0;
}


/* head end */
