<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>CSS table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{css/style1.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="wrapper">
    <!-- Row title -->
    <main class="row title">
        <ul>
            <li>Title</li>
            <li>Description</li>
            <li>Lieu</li>
            <li>Date</li>

        </ul>
    </main>
    <!-- Row 1 - fadeIn -->
    <section class="row-fadeIn-wrapper">
        <article class="row fadeIn nfl">
            <ul>
                <li><a href="#">NFL</a><span class="small">(fadeIn)</span></li>
                <li>$50</li>
                <li>12</li>
                <li>48</li>
                <li>2:00ET</li>
            </ul>
            <ul class="more-content">
                <li>This 1665-player contest boasts a $300,000.00 prize pool and pays out the top 300 finishing positions. First place wins $100,000.00. Good luck!</li>
            </ul>
        </article>
    </section>

</section>
<!-- partial -->

</body>
</html>
