<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Organiz'it | Waiting List </title>
    <link rel="shortcut icon" th:href="@{/images/img6.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/homeAdmin.css}">

</head>
<body class="bg-light">

<!-- Barre de navigation latérale -->
<div class="container-fluid">
    <div class="row">
        <!-- Navbar verticale élégante -->
        <nav class="col-md-2 d-none d-md-block bg-custom sidebar">
            <div class="sidebar-sticky">
                <a class="navbar-brand text-white text-center py-3 d-block d-flex align-items-center justify-content-center" href="/">
                    <img th:src="@{/images/img6.png}" alt="Logo" class="logo-img mr-2">
                    <span class="logo-text font-weight-bold">Organiz'it</span>
                </a>
                <br>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">
                            <i class="fas fa-home"></i>
                            <span class="nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/showpayement}">
                            <i class="fa-solid fa-wallet"></i>
                            <span class="nav-text">Event Billing Info</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/logout}" class="d-inline">
                            <button class="btn btn-link nav-link logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-text">Logout</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10 ms-sm-auto col-lg-10 px-4">
            <div class="widget">
                <h1 style="text-align: center;">Welcome, <span th:text="${username}"></span>!</h1>
                <p class="lead" style="text-align: center;">
                    you can show the waiting list of participants for your events.
                    This page provides a comprehensive overview of all users waiting to join the event.
                    <span style="color: #AE4D0F; font-weight: bold;" th:text="${eventTitle}"></span>
                </p>
                <br>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <i class="fas fa-users fa-2x me-3" style="color: #457b9d;"></i>
                    <h3 class="text-center">Waiting List For Event <span th:text="${eventTitle}"></span></h3>
                </div>

                <!-- Row title -->
                <main class="row title">
                    <ul>
                        <li></li>
                        <li>Username</li>
                        <li>Full Name</li>
                        <li>Email</li>
                        <li>Phone Number</li>
                    </ul>
                </main>

                <!-- Row Data -->
                <section class="row-fadeIn-wrapper">
                    <div th:each="user, iterStat : ${waitingList}" class="row fadeIn">
                        <ul>
                            <li th:text="${iterStat.index + 1}"></li>
                            <li th:text="${user.username}"></li>
                            <li th:text="${user.getNomPrenom()}"></li>
                            <li th:text="${user.email}"></li>
                            <li th:text="${user.numTele}"></li>
                        </ul>
                        <br><br>
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>
<!-- Inclure Bootstrap JS et Font Awesome JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>